@charset "utf-8";

/* common */
body {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	line-height: 2em;
	letter-spacing:1.6pt;
	color: rgb(230, 230, 230);
	background: linear-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
}

/* title */
#title {
	padding-top: 50px;
	padding-bottom: 40px;
}

h1 {
	font-size: 50px;
	line-height: 1.3em;
	letter-spacing: 0pt;
}

h1 span.kanji {
	letter-spacing: 1.5pt;
}

h2 {
	padding-top: 20px;
	padding-bottom: 10px;

	font-size: 27px;
	line-height: 1.3em;
	letter-spacing: 0pt;
}

h2 span.kanji {
	letter-spacing: 1.5pt;
}

/* content */
#content {
	padding-top: 20px;
	padding-bottom: 10px;
}

/* button */
#button {
	letter-spacing: 3pt;
	margin-top: 10px;
	margin-bottom: 60px;
	box-shadow: 0px 1px 3px 0px rgb(0, 50, 200);

text-decoration: none;
-webkit-transition-property: background,color;
-webkit-transition-duration: 1s;
-webkit-transition-delay: 0s;
-webkit-transition-timing-function: ease;
-moz-transition-property: background,color;
-moz-transition-duration: 1s;
-moz-transition-delay: 0s;
-moz-transition-timing-function: ease;
-o-transition-property: background,color;
-o-transition-duration: 1s;
-o-transition-delay: 0s;
-o-transition-timing-function: ease;
}

/* form */
form {
	padding-top: 20px;
	padding-bottom: 20px;
}
